.ability {
  @extend %section;
  padding-top: 0px;

  &__group
  {
    @extend %container;
  }
  
&__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

&__list {

  display: flex;

  margin-top: 50px;
}

&__photo {
   @extend  %reset-list;
  position: relative;
  margin-right: 30px;
  display: block;
}

&__photo:last-child {
  margin-right: 0px;
}

}

